[Desktop Entry]
Type=Application
Name=sanchos-os First Boot
Exec=/usr/local/lib/sanchos-os/firstboot.py
OnlyShowIn=KDE;
X-GNOME-Autostart-enabled=true
NoDisplay=false
Terminal=false
