[Desktop Entry]
Type=Application
Name=sanchos-os First Boot
Exec=/usr/local/bin/sanchos-firstboot
OnlyShowIn=KDE;
X-GNOME-Autostart-enabled=true
NoDisplay=false
Terminal=false
Icon=preferences-desktop-wallpaper
